networks:
    settly:

services:
    server:
        container_name: settly-nginx
        volumes:
            - .:/var/www/html
            - upload_data:/var/www/html/public/uploads
        build:
            context: .
            dockerfile: docker/dockerfiles/nginx.dockerfile
        ports:
            - "8000:80"
        depends_on:
            - php
            - mysql
        networks:
            - settly

    php:
        container_name: settly-php
        build:
            context: .
            dockerfile: docker/dockerfiles/php.dockerfile
        # volumes:
        #   - .:/var/www/html
        networks:
            - settly

    mysql:
        container_name: settly-mysql
        image: mysql:8.0.27
        env_file:
            - ./docker/env/mysql.env
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - settly

    composer:
        container_name: settly-composer
        build:
            context: ./docker/dockerfiles
            dockerfile: composer.dockerfile
        volumes:
            - ./:/var/www/html
        networks:
            - settly

    artisan:
        container_name: settly-artisan
        build:
            context: .
            dockerfile: docker/dockerfiles/php.dockerfile
        volumes:
            - .:/var/www/html
        entrypoint: ["php", "/var/www/html/artisan"]
        networks:
            - settly

    npm:
        container_name: settly-npm
        build:
            context: ./docker/dockerfiles
            dockerfile: node.dockerfile
        volumes:
            - .:/var/www/html
        networks:
            - settly

    git:
        container_name: settly-git
        build:
            context: ./docker/dockerfiles
            dockerfile: git.dockerfile
        volumes:
            - ./:/var/www/html
            - /root/.ssh/id_rsa:/root/.ssh/id_rsa
        networks:
            - settly

volumes:
    upload_data:
    mysql_data:
